<div class="container">
  <h1>Welcome to the Survey!</h1>
  <h4>Please answer the following questions to create your profile.</h4>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <form class="form form-horizontal">
        <ul *ngIf="count">

          <li *ngFor="let q of (data | myfilter:count.toString())" class="row survey-item">
            <div class="col-md-12 questions"><span class="survey-category">{{q.category}}</span> <span
              class="survey-question-count">Question {{count}} of {{data.length}}</span>
              <hr/>
              <p class="survey-question">{{q.question}}</p></div>
            <div class="col-md-12">
              <div class="form-group answers">

                <div class="survey-radio-wrapper">
                  <input type="radio" id="{{q.id}}_1" name="survey_{{q.category}}" [(ngModel)]="q.selected"
                         value="1"/>
                  <label [attr.for]="q.id + '_1'"><span></span>Strongly Disagree</label>
                </div>
                <div class="survey-radio-wrapper">
                  <input type="radio" id="{{q.id}}_2" name="survey_{{q.category}}" [(ngModel)]="q.selected"
                         value="2"/>
                  <label [attr.for]="q.id + '_2'"><span></span>Disagree</label>
                </div>
                <div class="survey-radio-wrapper">
                  <input type="radio" id="{{q.id}}_3" name="survey_{{q.category}}" [(ngModel)]="q.selected"
                         value="3"/>
                  <label [attr.for]="q.id + '_3'"><span></span>Somewhat Agree</label>
                </div>
                <div class="survey-radio-wrapper">
                  <input type="radio" id="{{q.id}}_4" name="survey_{{q.category}}" [(ngModel)]="q.selected"
                         value="4"/>
                  <label [attr.for]="q.id + '_4'"><span></span>Agree</label>
                </div>
                <div class="survey-radio-wrapper">
                  <input type="radio" id="{{q.id}}_5" name="survey_{{q.category}}" [(ngModel)]="q.selected"
                         value="5"/>
                  <label [attr.for]="q.id + '_5'"><span></span>Strongly Agree</label>
                </div>
              </div>
              <div class="sub-survey" *ngIf="q.selected > 0">
                <h4>Please answer the following questions with 5 meaning you feel the strongest.</h4>
                <ul>
                  <li>How balanced and satisfied are you in this area of your life?

                    <input type="radio" id="{{q.id}}_sub_1_1" name="survey_sub_1_{{q.category}}"
                           [(ngModel)]="q.selected_sub_1" value="1"/>
                    <label [attr.for]="q.id + '_sub_1_1'"><span></span>1</label>

                    <input type="radio" id="{{q.id}}_sub_1_2" name="survey_sub_1_{{q.category}}"
                           [(ngModel)]="q.selected_sub_1" value="2"/>
                    <label [attr.for]="q.id + '_sub_1_2'"><span></span>2</label>

                    <input type="radio" id="{{q.id}}_sub_1_3" name="survey_sub_1_{{q.category}}"
                           [(ngModel)]="q.selected_sub_1" value="3"/>
                    <label [attr.for]="q.id + '_sub_1_3'"><span></span>3</label>

                    <input type="radio" id="{{q.id}}_sub_1_4" name="survey_sub_1_{{q.category}}"
                           [(ngModel)]="q.selected_sub_1" value="4"/>
                    <label [attr.for]="q.id + '_sub_1_4'"><span></span>4</label>

                    <input type="radio" id="{{q.id}}_sub_1_5" name="survey_sub_1_{{q.category}}"
                           [(ngModel)]="q.selected_sub_1" value="5"/>
                    <label [attr.for]="q.id + '_sub_1_5'"><span></span>5</label>

                  </li>
                  <li>How importance is it to you to maintain/gain greater balance and satisfaction in this area?

                    <input type="radio" id="{{q.id}}_sub_2_1" name="survey_sub_2_{{q.category}}"
                           [(ngModel)]="q.selected_sub_2" value="1"/>
                    <label [attr.for]="q.id + '_sub_2_1'"><span></span>1</label>

                    <input type="radio" id="{{q.id}}_sub_2_2" name="survey_sub_2_{{q.category}}"
                           [(ngModel)]="q.selected_sub_2" value="2"/>
                    <label [attr.for]="q.id + '_sub_2_2'"><span></span>2</label>

                    <input type="radio" id="{{q.id}}_sub_2_3" name="survey_sub_2_{{q.category}}"
                           [(ngModel)]="q.selected_sub_2" value="3"/>
                    <label [attr.for]="q.id + '_sub_2_3'"><span></span>3</label>

                    <input type="radio" id="{{q.id}}_sub_2_4" name="survey_sub_2_{{q.category}}"
                           [(ngModel)]="q.selected_sub_2" value="4"/>
                    <label [attr.for]="q.id + '_sub_2_4'"><span></span>4</label>

                    <input type="radio" id="{{q.id}}_sub_2_5" name="survey_sub_2_{{q.category}}"
                           [(ngModel)]="q.selected_sub_2" value="5"/>
                    <label [attr.for]="q.id + '_sub_2_5'"><span></span>5</label>
                  </li>
                  <li>How motivated are you to maintain/improve this area of your life?

                    <input type="radio" id="{{q.id}}_sub_3_1" name="survey_sub_3_{{q.category}}"
                           [(ngModel)]="q.selected_sub_3" value="1"/>
                    <label [attr.for]="q.id + '_sub_3_1'"><span></span>1</label>

                    <input type="radio" id="{{q.id}}_sub_3_2" name="survey_sub_3_{{q.category}}"
                           [(ngModel)]="q.selected_sub_3" value="2"/>
                    <label [attr.for]="q.id + '_sub_3_2'"><span></span>2</label>

                    <input type="radio" id="{{q.id}}_sub_3_3" name="survey_sub_3_{{q.category}}"
                           [(ngModel)]="q.selected_sub_3" value="3"/>
                    <label [attr.for]="q.id + '_sub_3_3'"><span></span>3</label>

                    <input type="radio" id="{{q.id}}_sub_3_4" name="survey_sub_3_{{q.category}}"
                           [(ngModel)]="q.selected_sub_3" value="4"/>
                    <label [attr.for]="q.id + '_sub_3_4'"><span></span>4</label>

                    <input type="radio" id="{{q.id}}_sub_3_5" name="survey_sub_3_{{q.category}}"
                           [(ngModel)]="q.selected_sub_3" value="5"/>
                    <label [attr.for]="q.id + '_sub_3_5'"><span></span>5</label>

                  </li>
                  <li>How is your overall happiness affected by this dimension of your life?

                    <input type="radio" id="{{q.id}}_sub_4_1" name="survey_sub_4_{{q.category}}"
                           [(ngModel)]="q.selected_sub_4" value="1"/>
                    <label [attr.for]="q.id + '_sub_4_1'"><span></span>1</label>

                    <input type="radio" id="{{q.id}}_sub_4_2" name="survey_sub_4_{{q.category}}"
                           [(ngModel)]="q.selected_sub_4" value="2"/>
                    <label [attr.for]="q.id + '_sub_4_2'"><span></span>2</label>

                    <input type="radio" id="{{q.id}}_sub_4_3" name="survey_sub_4_{{q.category}}"
                           [(ngModel)]="q.selected_sub_4" value="3"/>
                    <label [attr.for]="q.id + '_sub_4_3'"><span></span>3</label>

                    <input type="radio" id="{{q.id}}_sub_4_4" name="survey_sub_4_{{q.category}}"
                           [(ngModel)]="q.selected_sub_4" value="4"/>
                    <label [attr.for]="q.id + '_sub_4_4'"><span></span>4</label>

                    <input type="radio" id="{{q.id}}_sub_4_5" name="survey_sub_4_{{q.category}}"
                           [(ngModel)]="q.selected_sub_4" value="5"/>
                    <label [attr.for]="q.id + '_sub_4_5'"><span></span>5</label>

                  </li>
                  <li>How is your job and/or school performance affected by this dimension of your life?

                    <input type="radio" id="{{q.id}}_sub_5_1" name="survey_sub_5_{{q.category}}"
                           [(ngModel)]="q.selected_sub_5" value="1"/>
                    <label [attr.for]="q.id + '_sub_5_1'"><span></span>1</label>

                    <input type="radio" id="{{q.id}}_sub_5_2" name="survey_sub_5_{{q.category}}"
                           [(ngModel)]="q.selected_sub_5" value="2"/>
                    <label [attr.for]="q.id + '_sub_5_2'"><span></span>2</label>

                    <input type="radio" id="{{q.id}}_sub_5_3" name="survey_sub_5_{{q.category}}"
                           [(ngModel)]="q.selected_sub_5" value="3"/>
                    <label [attr.for]="q.id + '_sub_5_3'"><span></span>3</label>

                    <input type="radio" id="{{q.id}}_sub_5_4" name="survey_sub_5_{{q.category}}"
                           [(ngModel)]="q.selected_sub_5" value="4"/>
                    <label [attr.for]="q.id + '_sub_5_4'"><span></span>4</label>

                    <input type="radio" id="{{q.id}}_sub_5_5" name="survey_sub_5_{{q.category}}"
                           [(ngModel)]="q.selected_sub_5" value="5"/>
                    <label [attr.for]="q.id + '_sub_5_5'"><span></span>5</label>

                  </li>
                  <li>
                    <button class="btn btn-primary pull-right" (click)="counter()">Next</button>
                  </li>
                  <li class="clearfix"></li>
                  <!-- <li>{{q|json}}</li>-->
                </ul>
              </div>
            </div>

          </li>
        </ul>
        <button *ngIf="1==2" class="btn btn-primary pull-right">Next</button>
      </form>
    </div>
  </div>
</div>




