<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnodeTFL" path="index.js" verb="*" modules="iisnode" />
    </handlers>
<rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <conditions>
              <add input="{REQUEST_URI}" pattern="sitemap.xml" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
   </system.webServer>
</configuration>
