<h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of spirituality:</h4>
<p>Christina Puchalski, MD, Director of the George Washington Institute for Spirituality and Health, contends that "spirituality is the aspect of humanity that refers to the way individuals seek and express meaning and purpose and the way they experience their connectedness to the moment, to self, to others, to nature, and to the significant or sacred.“</p>
<h4><i class="fa fa-lightbulb-o red" aria-hidden="true"></i> Did you know:</h4>
<p>Coming Soon!</p>

<h4><i class="fa fa-universal-access green" aria-hidden="true"></i> TFL action to consider:</h4>
<ol>
  <li>Read a daily devotional message
<li>Practice meditation</li>
  <li>Participate in individual or group prayer</li>
  <li>Take part in community worship</li>
  <li>Join a small group of like-minded people to grow, share and strengthen values</li>
  <li>Spend time in nature</li>
  <li>Start a gratitude journal</li></li>
  <li>Join a volunteer group that aligns with your core values and give back
  <li>Download the Train for Life app for your daily dose of inspiration</li>
</ol>

<h4><i class="fa fa-pencil-square-o yellow" aria-hidden="true"></i> TFL self-guided exercise:</h4>
<p>Take time to think about the following questions and perhaps answer them in a personal Wellbeing Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or trusted advisor.</p>
<ol>
<li>What does your life currently look and feel like in this dimension?</li>
<li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
  <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
  <li>Specifically what would you like to integrate into your life in this dimension?</li>
  <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
  <li>What can you do to eliminate or navigate around these barriers?</li>
  <li>What tools and support do you need to be successful?</li>
</ol>


<h4><i class="fa fa-question-circle-o orange" aria-hidden="true"></i> We want to know: </h4>

<form style="padding-left: 25px;">
  <div class="form-group">
    <label>What are the barriers that are keeping you from improving this dimension of your life?</label>
    <select class="form-control" multiple>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>

    </select>
  </div>
  <div class="form-group">
    <label>What tools and support do you need to be successful?</label>
    <label>What are the barriers that are keeping you from improving this dimension of your life?</label>
    <select class="form-control" multiple>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>
      <option value="">Item</option>

    </select>
  </div>
</form>


<h4><i class="fa fa-smile-o light-blue" aria-hidden="true"></i> Support:</h4>
<p>Seek support through coaching, counseling and/or a support group<br>
Confide in a trusted friend or family member and ask them for support and assistance</p>

