<div class="row">
  <div class="col-md-12 text-center">
    <img src="/app/images/TFL_Logo_color_full_med.jpg" style="width: 100%; max-width: 1280px; margin: 0 auto"/>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <login-component heading="123"></login-component>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create Account</h3>
      </div>
      <div class="panel-body">
        <user-component></user-component>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Resources</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>


