<h1>Welcome to Your TFL Dashboard! <i class="fa fa-question-circle-o blue" (click)="h.show()"></i></h1>
<hr/>
<div class="row">
  <div class="col-md-12">
    <bar-chart selector="chart_dashboard" heading="Your 15 TFL Dimensions" [seriesdata]="seriesdata"
               [categories]="categories"></bar-chart>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Take Action!</h3>
    <p>This custom report helps you take action on specific areas that you need help in.</p>
    <div class="text-right"><button (click)="takeAction()" class="btn btn-primary">Take Action!</button></div>
  </div>
</div>

<modal-demo #m="child"></modal-demo>
<modal-help #h="child2"></modal-help>



