<!--

ALGORITHM:

  If you are 60% or lower in satisfaction and 80% or higher in motivation to change.




-->



<h1>Welcome to Your TFL Dashboard! <i class="fa fa-question-circle-o blue" (click)="m.show()" style="cursor: pointer;"></i></h1>
<h3>15 TFL Dimensions:  <span style="color:#999999">Unlock your dimensions now!</span></h3>
<hr/>
<div class="row" *ngIf="dataCheckPassed && showGraph">
  <div class="col-md-12">
    <bar-chart selector="chart_dashboard" heading="Your 15 TFL Dimensions" [seriesdata]="seriesdata"  [categories]="categories"></bar-chart>
  </div>
</div>
<div class="row">
</div>

<div class="row">
  <div class="col-md-12"><h4>Areas where you have low satisfaction but are motivated to change.</h4><hr/></div>
  <div *ngFor="let item of assessmentData | motivatedFilter" class="col-xs-4 col-sm-2 col-md-2 text-center action-icons" style="padding: 20px;">
      <i class="fa fa-unlock-alt green" aria-hidden="true" style="font-size: 72px; cursor: pointer" *ngIf="item.subs.length === 6 && item.subs.indexOf('null') == -1 && item.subs.indexOf('') == -1" (click)="goToDimension(item.id)"></i>
      <i class="fa fa-lock" aria-hidden="true" style="font-size: 72px; color: #efefef; cursor: pointer" *ngIf="item.subs.length < 6 || item.subs.indexOf('null') > -1 || item.subs.indexOf('') > -1" (click)="goToDimension(item.id)"></i><br>
      {{(categories | myfilter: item.id)[0].category}}
  </div>
</div>


<div class="row">
  <div class="col-md-12"><h4>All areas</h4><hr/></div>
  <div *ngFor="let item of assessmentData" class="col-xs-4 col-sm-2 col-md-2 text-center action-icons" style="padding: 20px;">
    <i class="fa fa-unlock-alt green" aria-hidden="true" style="font-size: 72px; cursor: pointer" *ngIf="item.subs.length === 6 && item.subs.indexOf('null') == -1 && item.subs.indexOf('') == -1" (click)="goToDimension(item.id)"></i>
    <i class="fa fa-lock" aria-hidden="true" style="font-size: 72px; color: #efefef; cursor: pointer" *ngIf="item.subs.length < 6 || item.subs.indexOf('null') > -1 || item.subs.indexOf('') > -1" (click)="goToDimension(item.id)"></i><br>
    {{(categories | myfilter: item.id)[0].category}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Your TFL Toolkit:  <span style="color: #999999">Your toolkit will become active once you unlock all 15 dimensions.</span></h3>

  </div>

  <div class="col-xs-4 col-sm-2 col-md-2 text-center action-icons" style="padding: 20px;">
    <i *ngIf="dataCheckPassed" class="fa fa-star orange" aria-hidden="true" style="font-size: 72px; cursor: pointer" (click)="r.show(); showGraph = !showGraph"
       tooltip="Reveal where you are motivated to take action."
       tooltipPlacement="top"
       tooltipTrigger="mouseenter"
       [tooltipEnable]="true"></i>
    <i *ngIf="!dataCheckPassed"  class="fa fa-star" aria-hidden="true" style="color: #efefef; font-size: 72px; cursor: pointer"
       tooltip="Reveal where you are motivated to take action."
       tooltipPlacement="top"
       tooltipTrigger="mouseenter"
       [tooltipEnable]="true"></i><br/>
    Your Results
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 text-center action-icons" style="padding: 20px;">
    <i *ngIf="dataCheckPassed" class="fa fa-bar-chart blue" aria-hidden="true" style="font-size: 72px; cursor: pointer" (click)="j.show();"
       tooltip="View your 15 dimensions at a glance."
       tooltipPlacement="top"
       tooltipTrigger="mouseenter"
       [tooltipEnable]="true"></i>
    <i *ngIf="!dataCheckPassed" class="fa fa-bar-chart" aria-hidden="true" style="color: #efefef; font-size: 72px; cursor: pointer"
       tooltip="View your 15 dimensions at a glance."
       tooltipPlacement="top"
       tooltipTrigger="mouseenter"
       [tooltipEnable]="true"></i><br/>
    Data Junkie
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 text-center action-icons" style="padding: 20px;">
    <i *ngIf="dataCheckPassed"  class="fa fa-file-pdf-o red" aria-hidden="true" style="font-size: 72px; cursor: pointer" (click)="s.show();"
       tooltip="Access your TFL Empowerment Guide."
       tooltipPlacement="top"
       tooltipTrigger="mouseenter"
       [tooltipEnable]="true"></i>
    <i *ngIf="!dataCheckPassed" class="fa fa-file-pdf-o" aria-hidden="true" style="color: #efefef; font-size: 72px; cursor: pointer"
       tooltip="Access your TFL Empowerment Guide."
       tooltipPlacement="top"
       tooltipTrigger="mouseenter"
       [tooltipEnable]="true"></i><br/>
    TFL Guide
  </div>

</div>


<modal-demo #m="child"></modal-demo>
<modal-help #h="child2"></modal-help>
<modal-results #r="child3"></modal-results>
<modal-data-junkie #j="child4"></modal-data-junkie>
<modal-tfl-guide #t="child5"></modal-tfl-guide>
<modal-survey #s="child-survey"></modal-survey>



