<h1>Welcome to the Dashboard!</h1>
<hr/>
<!--<div class="row">-->
<!--<div class="col-md-12"><bar-chart selector="chart_dashboard" heading="Dashboard"></bar-chart></div>-->
<!--</div>-->
<div class="row">
  <div *ngFor="let i of areas" class="col-sm-12 col-md-12 col-lg-6">
    <div class="row" style="border: 1px solid grey; margin: 30px 0 0 0">

     <div class="col-sm-4 col-md-5">
        <my-chart2 selector="{{i}}" heading="{{i}}"></my-chart2>
      </div>
      <div class="col-sm-8 col-md-7">
        <h3>This items title the area.</h3>

        <p>Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. Some paragraph about this item. </p>

        <div class="text-right">
          <button class="btn btn-primary">Learn More!</button>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>

<modal-demo></modal-demo>



