<div class="row">
  <div class="col-md-12 text-center" style="margin-bottom:20px; background: #efefef;">
    <img src="/app/images/banner_1.jpg" style="width: 100%; max-width: 1280px; margin: 0 auto"/>
  </div>
  </div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <login-component heading="123"></login-component>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Take the TFL Assessment!</h3>
      </div>
      <div class="panel-body">
        <p>Ready to get started? Click the link below to start taking your assessment!</p>
        <div class="text-right"><button class="btn btn-primary" (click)="getStarted()">Lets go!</button></div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Resources</h3>
      </div>
      <div class="panel-body">
        Coming Soon!
      </div>
    </div>
  </div>
</div>


