<!-- Large modal -->


<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close" style="color: white; opacity: 10; text-shadow: none; font-size: 36px; font-weight: normal;">
          <span aria-hidden="true" style="opacity: 10;">&times;</span>
        </button>
        <h4 class="modal-title">Welcome to Your TFL Dashboard!</h4>
      </div>


      <div class="modal-body">
        <p>Welcome to Your Train For Life Dashboard. You now have access to interactive reports which will provide you a comprehensive overview of how you rated yourself in 15 dimensions of your life. Begin unlocking each dimension by clicking on the <i class="fa fa-unlock-alt green" aria-hidden="true" style="font-size: 24px; cursor: pointer"></i> icon.</p>

        <p>Knowing where you are and what is important to you is the first step towards greater self-awareness, so we encourage you to use your TFL Dashboard to help you make informed decisions regarding your total wellbeing.</p>

        <p>You have the ability to change the course of your life one dimension at a time.</p>

        <p>Once you unlock all 15 dimensions you will be able to click the <i class="fa fa-star orange" aria-hidden="true" style="font-size: 24px; cursor: pointer"></i> Icon which will display the dimensions you are most interested in taking action.</p>

        <p><strong>NOTE : You can opt to unlock all your dimensions at once or you can take your time and log back in later and pick up where you left off.</strong></p>

        <!-- <h3>The colors below denote which each item on the charts mean:</h3>


         <ul class="swatch-list">
           <li><span class="swatch swatch-blue"></span>Blue: How balanced or satisfied are you with this dimension in your life?</li>
           <li><span class="swatch swatch-black"></span>Black: How motivated are your to improve this dimension in your life?</li>
           <li><span class="swatch swatch-green"></span>Green: How important is it for your to gain greater balance and satisfaction in this dimension of your life</li>
           <li><span class="swatch swatch-orange"></span>Orange: How much is your overall happiness affected?</li>
           <li><span class="swatch swatch-purple"></span>Purple: How much is your performance at work or school affected?</li>
         </ul>

 -->

        <div class="text-right"><button class="btn btn-primary" (click)="lgModal.hide()">Ok</button></div>
        </div>
      </div>
    </div>
  </div>



<!--<button id="openModalButton" class="btn btn-primary" (click)="lgModal.show()">Large modal</button>-->

