<!-- Large modal -->


<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Reference</h4>
      </div>


      <div class="modal-body">

        <h3>The colors below denote which each item on the charts mean:</h3>


        <ul class="swatch-list">
          <li><span class="swatch swatch-blue"></span>Blue: How balanced or satisfied are you with this dimension in your life?</li>
          <li><span class="swatch swatch-black"></span>Black: How motivated are your to improve this dimension in your life?</li>
          <li><span class="swatch swatch-green"></span>Green: How important is it for your to gain greater balance and satisfaction in this dimension of your life</li>
          <li><span class="swatch swatch-orange"></span>Orange: How much is your overall happiness affected?</li>
          <li><span class="swatch swatch-purple"></span>Purple: How much is your performance at work or school affected?</li>
        </ul>



        <div class="text-right"><button class="btn btn-primary" (click)="lgModal.hide()">Ok</button></div>
        </div>
      </div>
    </div>
  </div>



<!--<button id="openModalButton" class="btn btn-primary" (click)="lgModal.show()">Large modal</button>-->

