<!-- Large modal -->
<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close" style="color: white; opacity: 10; text-shadow: none; font-size: 36px; font-weight: normal;">
          <span aria-hidden="true" style="opacity: 10;">&times;</span>
        </button>
        <h4 class="modal-title">TFL Empowerment Guide</h4>
      </div>


      <div class="modal-body">

        <p>Your TFL Empowerment Guide is our gift to you so print it out and use it as a reference tool. It has been designed to give you more insight and a broader perspective of your total wellbeing. Greater awareness will help you make more mindful decisions, so use your personalized TFL Guide to help you explore ways to achieve greater satisfaction in your life.</p>

        <p>Making lifestyle changes requires awareness, desire and action so we hope your assessment experience has motivated you to take action in the dimensions that are most important to you.</p>

        <p>We wish you the best of luck on this journey called life and always remember making change requires you to dig deep and believe in yourself.</p>

        <p>Dare to go deeper because you can • believe in yourself because you are powerful • know your potential because it is possible!
       <strong>Terrie Elizabeth Reeves - Owner and Founder of Empower Health America</strong></p>

        <p>Take ownership of your life and become your greatest advocate…you have the ability to change the course of your life one dimension at a time.</p>

        <div class="text-right">
          <button class="btn btn-primary" (click)="lgModal.hide()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

