<!-- Large modal -->
<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close" style="color: white; opacity: 10; text-shadow: none; font-size: 36px; font-weight: normal;">
          <span aria-hidden="true" style="opacity: 10;">&times;</span>
        </button>
        <h4 class="modal-title">Your Action Plan</h4>
      </div>


      <div class="modal-body">

        <p>Displayed on your dashboard are the dimensions you reported lower satisfaction and the greatest motivation to take action. We hope this assessment process helps you gain greater self-awareness and empowers you to make lifestyle changes that will enrich your life.</p>

        <p>Spend time reviewing the dimension(s) that have been selected for you and be sure to read your personalized TFL Action Plan that is displayed immediately below your results. This information has been designed to help you take action and it will give you immediate access to:</p>

        <ul style="margin-left: 40px;">
          <li>Insight and fun facts</li>
          <li>TFL actions to consider</li>
          <li>Self-guided exercises</li>
          <li>Resources</li>
        </ul>

        <p><strong>Celebrate where you are:</strong> Pause for a moment and reflect on the dimensions in your life in which you are satisfied and be grateful. Let this serve as motivation that finding satisfaction in all dimensions is possible. You have the ability to change the course of your life one dimension at a time.</p>

        <p><strong>Game plan:</strong> Rome was not built in a day so set realistic expectations. Focus on what you are already doing well in each dimension and use your motivation to take action to build on that success.</p>

        <p><strong>No dimensions displayed:</strong> Congratulations! This means that you reported a high level of satisfaction in each dimension. However, we want to encourage and help you maintain your high level of satisfaction in each dimension so take time to review Your TFL Action Plan displayed immediately below each dimension.  We encourage you to continue to make your wellbeing a priority and we hope you find the TFL information helpful.</p>

        <p><strong>Use your TFL toolbox:</strong></p>
        <ul style="margin-left: 40px;">

          <li>Click the <i class="fa fa-bar-chart blue"></i> Icon and view how you rated all 15 dimensions at a glance.</li>
          <li>Click the <i class="fa fa-file-pdf-o red"></i> Icon and print your comprehensive TFL Empowerment Guide which gives you information on all 15 dimensions.</li>
        </ul>
        <br>
        <br>

        <div class="text-right">
          <button class="btn btn-primary" (click)="lgModal.hide()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

