<!-- Large modal -->
<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close" style="color: white; opacity: 10; text-shadow: none; font-size: 36px; font-weight: normal;">
          <span aria-hidden="true" style="opacity: 10;">&times;</span>
        </button>
        <h4 class="modal-title">Instructions for graphs</h4>
      </div>


      <div class="modal-body">

        <p>The Train For Life graph represents how you ranked yourself in all 15 TFL Dimensions.  <strong>20%</strong> represents that you rated yourself <strong>not satisfied</strong> and <strong>100%</strong> indicates that you ranked yourself completely satisfied. It is through self-awareness that you can celebrate the areas of your life in which you are satisfied as well as begin taking mindful action in the dimensions you want to change.  </p>

        <p>There are 4 additional grayed out words below the chart: <strong>Importance</strong>, <strong>Motivation</strong>, <strong>Happiness</strong> and <strong>Performance</strong>. How you ranked yourself in each area will populate once you click each word.  We encourage you to click and un-click each area to compare and contrast your results.</p>

        <p>Click on Your TFL <strong>Take Action</strong> button and the dimensions you ranked the greatest motivation to change will populate.  We encourage you to focus your efforts on the things that are important to you so take a look at your results  and we hope you are motivated to take action.</p>

        <p>The colors below denote which each item on the charts mean:</p>


        <ul class="swatch-list" style="list-style: none;">
          <li><span class="swatch blue-bg"></span>This dimension of my life is <strong>important</strong> to me.</li>
          <li><span class="swatch red-bg"></span>This dimension negatively affects my <strong>happiness</strong>.</li>
          <li><span class="swatch green-bg"></span>Performing to the best of my ability is impacted by this dimension.</li>
          <li><span class="swatch yellow-bg"></span>I am <strong>satisfied</strong> with this dimension of my life.</li>
          <li><span class="swatch orange-bg"></span>I am <strong>actively</strong> working to improve and/or maintain this dimension of my life.</li>
          <li><span class="swatch light-blue-bg"></span>I am motivated to improve and/or maintain this area of my life.</li>
        </ul>

        <div class="text-right">
          <button class="btn btn-primary" (click)="lgModal.hide()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

