<!-- Large modal -->
<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close" style="color: white; opacity: 10; text-shadow: none; font-size: 36px; font-weight: normal;">
          <span aria-hidden="true" style="opacity: 10;">&times;</span>
        </button>
        <h4 class="modal-title">Instructions for graphs</h4>
      </div>


      <div class="modal-body">

      <p>Taking action requires awareness and desire, so take a look at which dimensions you ranked you were most motivated to change.</p>
        <p>Your TFL circle graphs reflect: </p>
        <ul class="swatch-list">
          <li><span class="swatch blue-bg"></span>Blue: How satisfied are you with this dimension in your life?</li>
          <li><span class="swatch red-bg"></span>Red: How important is it for your to gain greater balance and satisfaction in this dimension of your life</li>
          <li><span class="swatch green-bg"></span>Green: How motivated are your to improve this dimension in your life?</li>
          <li><span class="swatch yellow-bg"></span>Yellow: How much is your overall happiness affected?</li>
          <li><span class="swatch orange-bg"></span>Orange: How much is your performance at work or school affected?</li>
        </ul>

        <p>You can mouse over each ring in the circle to view your percentage of satisfaction in each area. 20% represents least satisfied and 100% represents completely satisfied. </p>
        <p>We encourage you to focus your efforts and to take action in the areas that have been personally selected for you.</p>
        <p>Click the Get Informed Icon to learn more about each dimension and to gain immediate access to tools and resources which will help you with Your TFL Action Plan</p>
        <p>You will notice a View All TFL Results button if you would like to see each dimension displayed in this circle graph format.</p>
        <div class="text-right">
          <button class="btn btn-primary" (click)="lgModal.hide()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

